#! /bin/bash
# export HTTP_SERVER_PORT=8084
export VERSION=$(git rev-parse --short HEAD)
export DATABASE_URL="postgres://test_user:test_password@localhost:5432/goWebapp"

export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=$DATABASE_URL
export GOOSE_MIGRATION_DIR="./migrations"