#! /bin/bash
# export SERVER_PORT=8084
export DATABASE_URL="postgres://testuser:@localhost:5432/goWebapp"

export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=$DATABASE_URL
export GOOSE_MIGRATION_DIR="./migrations"